{% extends 'testtemp/layout.html' %}
{% block content %}
<h1>タスクを編集</h1>
<p>タスク編集しましょう</p>
<form action="add_task" method="post">
  <label for="task_name">タスク名：</label>
  <input type="text" name="title" id="title" value="{{ task.title }}">
  <br >
  <label for="dead_day">期限日</label>
  <input type="date" name="dead_date" id="dead_date" value="{{ task.deadline.date() }}">
  <label for="dead_time">期限時間：</label>
  <input type="time" name="dead_time" id="dead_time" value="{{ task.deadline.time() }}">
  <br >
  <br >
  <button type="submit">更新</button>
</form>
{% endblock %}