{% extends 'testtemp/layout.html' %}
{% block content %}
    <div class="container vh-100 px-2 py-4 bg-info ">
        <div class="row vh-100 d-flex flex-column">
            <div class="col-12 d-flex flex-column justify-content-center flex-grow-1">
                {% if current_user.is_authenticated %}
                <div class="message text-center my-2">
                    <div class="todo_image my-2">
                        <img src="{{ url_for('static', filename='images/todo_image.png') }}" alt="アプリ画像です" class="img-fluid">
                    </div>
                    <div class="messages">
                        <h1>Taskbell</h1>
                        <p>ようこそ！{{ current_user.username }}さん</p>
                    </div>
                </div>
                {% else %}
                <div class="message text-center my-2">
                    <div class="todo_image my-2">
                        <img src="{{ url_for('static', filename='images/todo_image.png') }}" alt="アプリ画像です" class="img-fluid">
                    </div>
                    <div class="messages">
                        <h1>TaskBell</h1>
                        <p>あなたのタスク管理をスマートに</p>
                    </div>
                </div>
                {% endif %}
            </div>
            <div class="col-12 buttons col-md-8 col-lg-6 mx-auto">
                <div class="d-flex flex-column flex-md-row gap-3 justify-content-center">
                    <a href="{{ url_for('login') }}" class="w-100"><button type="button" class="btn btn-primary w-100 p-3 p-md-2 rounded-pill">ログイン</button></a>
                    <a href="{{ url_for('signup') }}" class="w-100"><button type="button" class="btn btn-secondary w-100 p-3 p-md-2 rounded-pill">新規ユーザー登録へ</button></a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}