{% extends 'testtemp/layout.html' %}
{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-8 border border-secondary border-1 rounded px-5 py-4 bg-info bg-gradient">
                {% if current_user.is_authenticated %}
                <div class="message">
                    <h1>ようこそ、Taskbellへ！</h1>
                    <p>こんにちは！{{ current_user.username }}さん！</p>
                </div>
                {% else %}
                <div class="message">
                <div class="todo_image">
                    <img src="{{ url_for('static', filename='images/todo_image.png') }}" alt="アプリ画像です" class="img-fluid">
                </div>
                <div class="messages text-center">
                    <h1>TaskBell</h1>
                </div>
                </div>
                {% endif %}
                <div class="buttons text-center">
                    <a href="{{ url_for('login') }}"><button type="button" class="btn btn-primary">ログイン</button></a>
                    <a href="{{ url_for('signup') }}"><button type="button" class="btn btn-secondary">新規ユーザー登録へ</button></a>
                </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}