{% extends 'testtemp/layout.html' %}
{% block content %}
  <div class="container vh-100 px-2 py-0">
    <h3 class="text-center font-size-l">マイタスク</h3>
    <div class="row h-auto justify-content-center align-items-start">
      <div class="col-12 col-md-8 col-lg-5 col-xl-4">
        <h4 class="font-size-m">未完了タスク</h4>
        <div class="sort_buttons d-flex flex-row justify-content-end px-0 py-1 gap-2"> 
        <a href="{{ url_for('my_task', mode=1) }}"><button type="button" class="btn btn-warning">重要度順</button></a>
        <a href="{{ url_for('my_task', mode=0) }}"><button type="button" class="btn btn-light">日付順</button></a>
        </div>
        <table class="table table-light table-hover table-bordered">
          <thead>
            <tr>
              <th rowspan="2" scope="col" class="p-0 p-md-2 text-center align-middle">#</th>
              <th rowspan="2" scope="col" class="p-0 p-md-2 text-center align-middle">タスク名</th>
              <th colspan="2" scope="col" class="p-0 p-md-2 text-center align-middle">期限</th>
              <th rowspan="2" scope="col" class="p-0 p-md-2 text-center align-middle">重要度</th>
              <th rowspan="2" scope="col" class="p-0 p-md-2 text-center align-middle">操作</th>
            </tr>
            <tr>
              <th scope="col" class="p-0 p-md-2 text-center">日</th>
              <th scope="col" class="p-0 p-md-2 text-center">時間</th>
            </tr>
          </thead>
          <tbody>
            {% for nc_task in nc_tasks %}
              <tr>
                <th scope="row" class="px-0 p-md-2 text-center align-middle">
                  <a href="{{ url_for('check_task', task_id=nc_task['task_id']) }}" class="check_box_a">
                    <button type="button" class="btn btn-success rounded-circl px-1 py-2 check_box_b">完了</button>
                  </a>
                </th>
                <td class="px-0 p-md-2 text-center align-middle">
                  <label class="form-check-label my-auto" for="firstCheckbox">{{ nc_task['title']}}</label>
                </td>
                <td class="px-0 p-md-2 text-center align-middle">
                  <label class="deadline my-auto" for="deadline">{{ nc_task['deadline'] | add_weekday }}</label>
                </td>
                <td class="px-0 p-md-2 text-center align-middle">
                  <label class="deadline my-auto" for="deadline">{{ nc_task['deadline'].strftime('%H:%m') }}</label>
                </td>
                <td class="px-0 p-md-2 text-center align-middle">
                  <label class="importance my-auto" for="importance">{{ nc_task['importance'] | convert_importance }}</label>
                </td>
                <td class="d-flex flex-row px-0 p-md-2 text-center justify-content-evenly align-middle gap-3">
                  <a href="{{ url_for('edit_task', task_id=nc_task['task_id']) }}" class="mb-1"><button type="button" class="btn btn-primary py-2 px-1">編集</button></a>
                  <a href="{{ url_for('delete_task', task_id=nc_task['task_id']) }}"><button type="button" class="btn btn-danger py-2 px-1">削除</button></a>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
        <div class="add_new_task_button text-center">
          <a href="{{ url_for('add_task')}}">
          <button type="button" class="btn btn-primary">
          新規タスク登録
            </button></a>
        </div>
      </div>
    </div>

    <div class="row h-auto justify-content-center align-items-start">
      <div class="col-12 col-md-8 col-lg-5 col-xl-4">
        <h4 class="font-size-m">完了済みタスク</h4>
        <table class="table table-light table-hover table-bordered">
          <thead>
            <tr>
              <th rowspan="2" scope="col" class="p-0 p-md-2 text-center align-middle">#</th>
              <th rowspan="2" scope="col" class="p-0 p-md-2 text-center align-middle">タスク名</th>
              <th colspan="2" scope="col" class="p-0 p-md-2 text-center align-middle">期限</th>
              <th rowspan="2" scope="col" class="p-0 p-md-2 text-center align-middle">操作</th>
            </tr>
            <tr>
              <th scope="col" class="p-0 p-md-2 text-center">日</th>
              <th scope="col" class="p-0 p-md-2 text-center">時間</th>
            </tr>
          </thead>
          <tbody>
            {% for c_task in c_tasks %}
              <tr>
                <th scope="row" class="px-0 p-md-2 text-center align-middle">
                  <a href="{{ url_for('check_task', task_id=c_task['task_id']) }}" class="check_box_a">
                <button type="button" class="btn btn-light rounded-circl p-0 check_box_b">済</button>
                  </a>
                </th>
                <td class="px-0 p-md-2 text-center align-middle">
                  <label class="comp_task_name text-decoration-line-through" for="firstCheckbox">{{ c_task['title']}}</label>
                </td>
                <td class="px-0 p-md-2 text-center align-middle">
                  <label class="comp_task_deadline text-decoration-line-through" for="deadline">{{ c_task['deadline'] | add_weekday }}</label>
                </td>
                <td class="px-0 p-md-2 text-center align-middle">
                  <label class="comp_task_deadline text-decoration-line-through" for="deadline">{{ c_task['deadline'].strftime('%H:%M')}}</label>
                </td>
                <td class="px-0 p-md-2 text-center align-middle">
                  <a href="{{ url_for('delete_task', task_id=c_task['task_id']) }}"><button type="button" class="btn btn-danger p-0">削除</button></a>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
{% endblock %}
