{% extends 'testtemp/layout.html' %}
{% block content %}
  <div class="container">
    <h3>マイタスク</h3>
    <div class="row">
      <div class="col-12">
        <h4>未完了タスク</h4>
        <table class="table table-light table-hover table-bordered">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">タスク名</th>
              <th scope="col">期限日時</th>
              <th scope="col">期限時間</th>
              <th scope="col">操作</th>
            </tr>
          </thead>
          <tbody>
            {% for nc_task in nc_tasks %}
              <tr>
                <th scope="row">
                  <a href="{{ url_for('check_task', task_id=nc_task['task_id']) }}" class="check_box_a">
                    <button type="button" class="btn btn-light rounded-circl p-0 check_box_b">✔</button>
                  </a>
                </th>
                <td>
                  <label class="form-check-label" for="firstCheckbox">{{ nc_task['title']}}</label>
                </td>
                <td>
                  <label class="deadline" for="deadline">{{ nc_task['deadline'].strftime('%y/%m/%d(%a)') }}</label>
                </td>
                <td>
                  <label class="deadline" for="deadline">{{ nc_task['deadline'].strftime('%H:%m') }}</label>
                </td>
                <td>
                  <a href="{{ url_for('edit_task', task_id=nc_task['task_id']) }}">編集</a>
                  <a href="{{ url_for('delete_task', task_id=nc_task['task_id']) }}">削除</a>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
        <div class="add_new_task_button">
          <a href="{{ url_for('add_task')}}">
          <button type="button" class="btn btn-primary">
          新規タスク登録
            </button></a>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <h4>完了済みタスク</h4>
        <table class="table table-light table-hover table-bordered">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">タスク名</th>
              <th scope="col">期限日時</th>
              <th scope="col">期限時間</th>
              <th scope="col">操作</th>
            </tr>
          </thead>
          <tbody>
            {% for c_task in c_tasks %}
              <tr>
                <th scope="row">
                  <a href="{{ url_for('check_task', task_id=c_task['task_id']) }}" class="check_box_a">
                <button type="button" class="btn btn-light rounded-circl p-0 check_box_b">済</button>
                  </a>
                </th>
                <td>
                  <label class="comp_task_name text-decoration-line-through" for="firstCheckbox">{{ c_task['title']}}</label>
                </td>
                <td>
                  <label class="comp_task_deadline text-decoration-line-through" for="deadline">{{ c_task['deadline'].strftime('%y/%m/%d(%a)') }}</label>
                </td>
                <td>
                  <label class="comp_task_deadline text-decoration-line-through" for="deadline">{{ c_task['deadline'].strftime('%H:%M')}}</label>
                </td>
                <td>
                  <a href="{{ url_for('delete_task', task_id=c_task['task_id']) }}">削除</a>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
{% endblock %}
