{% extends 'testtemp/layout.html' %}
{% block content %}
<div class="container vh-100 px-2 py-1">
  <div class="row h-100 justify-content-center align-items-start">
    <div class="col-12 col-md-8 col-lg-5 col-xl-4">
      <div class="card shadow" style="border-color: #6b9b9c;">
        <div class="card-header text-center bg-medium align-middle py-3">
          <h1 class="font-size-l text-white m-1">新規タスクを追加</h1>
          <p class="font-size-s text-white m-1">入力後登録ボタンを押してください</p>
        </div>
        <div class="card-body p-4 p-md-5">
          <form action="add_task" method="post" class="add_task_form">
            <div class="row mb-3">
              <div class="col-4 ">
                  <label for="task_name">タスク名：</label>
              </div>
              <div class="col-6">
                  <input type="text" name="title" id="title">
                  <div class="error" id="titleError"></div>
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-4">
                <label for="dead_day">期限日：</label>
              </div>
              <div class="col-7">
                <input type="date" name="dead_date" id="dead_date">
                <div class="error" id="deaddateError"></div>
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-4">
                <label for="dead_time">期限時間：</label>
              </div>
              <div class="col-7">
                <input type="time" name="dead_time" id="dead_time">
                <div class="error" id="deadtimeError"></div>
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-4">
                <label for="importance">重要度：</label>
              </div>
              <div class="col-8">
              <label class="pe-1">
                <input type="radio" name="importance" id="importance" value="0" checked>低
              </label>
              <label class="pe-1">
                <input type="radio" name="importance" id="importance" value="1">中
              </label>
              <label>
                <input type="radio" name="importance" id="importance" value="2">高
              </label>
              </div>
            </div>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul class="alert alert-success list-unstyled text-center flash_message fw-bold">
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            {% endwith %}
            {# ボタンエリア #}
            <div class="d-grid buttons gap-3">
              <button type="submit" class="btn btn-primary btn-lg rounded-pill">登録</button>
              <p>
              <a href="{{ url_for('my_task') }}"><button type="button" class="btn btn-secondary btn-lg w-100 rounded-pill">タスク一覧へ</button></a>
              </p>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="{{ url_for('static', filename='validate.js') }}"></script>
{% endblock %}