{% extends "testtemp/layout.html" %}
{% block content %}
    <section class="signup_page">
    <h1>新規ユーザー登録</h1>
    <p>ユーザ名とパスワードを入力して登録ボタンを押してください</p>
    <form action="signup" method="post" class="signup_form">
    <ul>
        <li>
        <label for="username">ユーザ名：</label>
        <input type="text" name="username" id="username">
        </li>
        <li>
        <label for="password">パスワード：</label>
        <input type="text" name="password" id="password">
        </li>
        <li>
        <label for="conf_password">パスワード（確認）：</label>
        <input type="text" name="conf_password" id="conf_password">
        </li>
    </ul>
        <button type="submit" class="btn btn-primary">新規登録</button>
        <a href="{{ url_for('login') }}"><button type="button" class="btn btn-secondary">ログインへ</button></a>
    </form>
    </section>
{% endblock %}