{% extends "testtemp/layout.html" %}
{% block content %}
    <div class="container vh-100 px-2 py-4">
        <div class="row h-100 justify-content-center align-items-start">
            <div class="col-12 col-md-8 col-lg-5 col-xl-4">
                <div class="card border border-secondary">
                    <div class="card-body p-4 p-md-5">
                        <div class="text-center">
                            <h1 class="font-size-l">新規ユーザー登録</h1>
                            <p class="font-size-s">ユーザ名とパスワードを入力して登録ボタンを押してください</p>
                        </div>
                        <form action="signup" method="post" class="signup_form">
                            {# ユーザ名 #}
                            <div class="mb-2">
                                <label for="username" class="form-label fw-bold">ユーザ名：</label>
                                <input type="text" name="username" id="username" class="form-control form-control-lg" placeholder="ユーザー名を入力" required>
                                <div class="error" id="usernameError"></div>
                            </div> 
                            {# パスワード #}
                            <div class="mb-4">
                                <label for="password" class="form-label fw-bold">パスワード：</label>
                                <input type="password" name="password" id="password" class="form-control form-control-lg" placeholder="パスワードを入力" required>
                                <div class="error" id="passwordError"></div>
                            </div>
                            {# 確認パスワード #}
                            <div class="mb-4">
                                <label for="conf_password" class="form-label fw-bold">パスワード確認：</label>
                                <input type="password" name="conf_password" id="conf_password" class="form-control form-control-lg" placeholder="パスワードを入力" required>
                                <div class="error" id="conf_passwordError"></div>
                            </div>
                            {% with messages = get_flashed_messages() %}
                            {% if messages %}
                            <ul class="alert alert-danger list-unstyled text-center flash_message fw-bold">
                                {% for message in messages %}
                                <li>{{ message }}</li>
                                {% endfor %}
                            </ul>
                            {% endif %}
                            {% endwith %}
                            {# ボタンエリア #}
                            <div class="d-grid buttons gap-3">
                                <button type="submit" class="btn btn-primary btn-lg rounded-pill">新規登録</button>
                                <a href="{{ url_for('auth.login') }}"><button type="button" class="btn btn-secondary btn-lg w-100 rounded-pill">ログインへ</button></a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='validate.js') }}"></script>
{% endblock %}