/* 全体レイアウト設定 */
/* * {
  padding: 0;
  margin: 0;
}
.header {
  width: 100%;
}
.header > nav {
  display: flex;
  justify-content: space-between;
} */

/* 0.  indexページ画面設定*/
/* .index_page {
  margin: 20px 50px;
  padding: 20px 20px;
  border: 1px solid gray;
  border-radius: 10px;
}
.message {
  text-align: center;
}
.index_list {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.index_list > li {
  list-style: none;
  margin-bottom: 8px;
}

.signup_button,
.login_button {
  text-align: center;
} */

/* 1. タスク一覧ページ設定 */
/* .alltask {
  text-align: center;
}
.alltask > section > ul {
  text-align: left;
  margin: 0px 30px;
}
section {
  margin: 20px 20px;
}

.check_box_b {
  border: 1px solid gray;
}
.check_box_a {
  text-decoration: none;
}

/* 1.2 タスク一覧ページ - 新規タスク登録ボタン */
/* .add_new_task_button {
  margin: 20px auto;
  text-align: center;
} */

/* 1.3 完了タスクセクション */
/* .comp_task_name,
.comp_task_deadline {
  text-decoration: line-through;
} */

/* 2. 新規タスク登録画面設定 */
/* .add_new_task {
  margin: 20px 50px;
  padding: 20px 20px;
  border: 1px solid gray;
  border-radius: 10px;
}

.add_new_task > h1,
.add_new_task > p {
  text-align: center;
}
.add_task_form > ul > li {
  list-style: none;
  margin-bottom: 8px;
}
.add_task_form > ul > li > input {
  text-align: center;
}
.add_task_form > button {
  display: block;
  margin: auto;
} */

/* 3. タスク編集画面設定 */
/* .edit_task {
  margin: 20px 50px;
  padding: 20px 20px;
  border: 1px solid gray;
  border-radius: 10px;
}

.edit_task > h1,
.edit_task > p {
  text-align: center;
}
.edit_task_form > ul > li {
  list-style: none;
  margin-bottom: 8px;
}
.edit_task_form > ul > li > input {
  text-align: center;
}
.edit_task_form > button {
  display: block;
  margin: auto;
} */
/* ログイン画面設定 */

/* .login_page {
  margin: 20px 50px;
  padding: 20px 20px;
  border: 1px solid gray;
  border-radius: 10px;
}

.login_page > h1,
.login_page > p {
  text-align: center;
}
.login_form > ul {
  margin-left: 20%;
}
.login_form > ul > li {
  list-style: none;
  margin-bottom: 8px;
}
.login_form > ul > li > input {
  text-align: center;
}
.login_form > button {
  display: block;
  margin: 10px auto;
}
.login_form > a > button {
  display: block;
  margin: 10px auto;
  text-decoration: none;
}

.login_form > a {
  text-decoration: none;
} */

/* 新規ユーザー登録画設定* */
/* .signup_page {
  margin: 20px 50px;
  padding: 20px 20px;
  border: 1px solid gray;
  border-radius: 10px;
}

.signup_page > h1,
.signup_page > p {
  text-align: center;
}
.signup_form > ul {
  margin-left: 20%;
}
.signup_form > ul > li {
  list-style: none;
  margin-bottom: 8px;
}
.signup_form > ul > li > input {
  text-align: center;
}
.signup_form > button {
  display: block;
  margin: 10px auto;
}
.signup_form > a > button {
  display: block;
  margin: 10px auto;
}
.signup_form > a {
  text-decoration: none;
} */
/* 削除確認ページ設定 */

/* .delete_confirm_page {
  margin: 20px 50px;
  padding: 20px 20px;
  border: 1px solid gray;
  border-radius: 10px;
} */

.flash_message {
  color: red;
}
